body{
	font-size: 16px !important;
    color: #fff !important;
    background-color: #61122f !important;
    font-family: 'Oxygen', sans-serif !important;
}

/*logo image*/
#logo-img{
background: url('../images/restaurant-logo_large.png') no-repeat;
width: 150px;
height: 150px;
margin-right: 10px;
}

/*Titles*/

.navbar-brand{
	padding-top: 15px;
}

.navbar-brand h1{ 
	color: #557c3e;
	font-family: 'Lora', serif ;
	text-transform: uppercase;
	font-size: 1.5em !important;
	font-weight: bold;
	line-height: .75;
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 1px 1px 1px #222;
}

.navbar-brand p{
	color: #000;
	margin-top: 15px;
	font-size: .7em;
	text-transform: uppercase;
}

.navbar-brand a:hover, .navbar-brand a:link{
	text-decoration: none !important;
}
.navbar-brand{
	vertical-align: middle;
}


/*navbar list*/

 #nav-list {
  margin-top: 10 px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.2em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/*end header*/

/*footer*/
.panel-footer{
background-color: #222;
margin-top: 30px;
padding-top: 30px;
padding-bottom: 30px;
border-top: 0px;
}
.panel-footer div.row{
line-height: 2;
}
#hour>span, #Address>span{
	font-size: 1.3em;
}
#Address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */
/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile{
height: 250px;
width: 100%;
position: relative;
margin-bottom: 15px;
border: 2px solid #3F0C1F;
overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

      /*menu pics*/
#menu-tile{
	background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center;
}
#specials-tile{
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center;
}

/*Menu span name*/
#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 1.6em;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	opacity: 0.8;
	text-align: center;
	width: 100%;
}


/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
  margin: 0 auto;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */




/********** Extra large devices only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
	 /*	Home Page*/
	.container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }

}
/********** Large devices only **********/
@media (min-width: 991px) and (max-width: 1199px) {
      /*	Home Page*/
	.container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }

}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 990px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
	/* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 575px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 10px 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */ 

    /*footer*/
.panel-footer section{
	text-align: center;
	margin-bottom: 30px;
}
.panel-footer section:nth-child(3){
	margin-bottom: 0px;
}
.panel-footer section hr{
	width: 50%;
	margin: 0 Auto;
}

   /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
/* End Home Page */

#menu-tile, #specials-tile, #map-tile {
	width: 360px;
	margin: auto;
}
.col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}